# gfmdata.container
[Container]
PublishPort=3019:3019
Volume=./.data:/app/.data:Z
Environment=NODE_TLS_REJECT_UNAUTHORIZED=${NODE_TLS_REJECT_UNAUTHORIZED:-1}
ContainerName=gfmdata

[Service]
Restart=always
