[Container]
Image=docker.io/prom/prometheus:v3.2.0
Volume=/var/home/ryan/Sync/journals/2026/03/10/quadlet-serde-tool/quadlet-serde/data/fixtures/postgres-example-no-name/config/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:Z,ro
Volume=postgres-example-no-name_prometheus_data.volume:/prometheus:Z
Network=postgres-example-no-name_monitoring.network
DropCapability=ALL
ReadOnly=true
Tmpfs=/tmp
HealthCmd=wget -qO- http://127.0.0.1:9090/-/healthy
HealthInterval=15s
HealthRetries=3
HealthTimeout=5s
NoNewPrivileges=true
NetworkAlias=prometheus
Notify=healthy
Label=io.podman.quadlet.project=postgres-example-no-name
Label=io.podman.quadlet.service=prometheus

[Service]
CPUQuota=100%
MemoryMax=512m
Restart=always

[Install]
WantedBy=default.target
