[Container]
Image=docker.io/library/postgres:17
Network=none
Volume=postgres-example-no-name_pg_data.volume:/var/lib/postgresql/data:Z
Volume=postgres-example-no-name_pg_socket.volume:/var/run/postgresql:z
Volume=/var/home/ryan/Sync/journals/2026/03/10/quadlet-serde-tool/quadlet-serde/data/fixtures/postgres-example-no-name/initdb.d:/docker-entrypoint-initdb.d:Z
Environment=POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password
User=postgres
DropCapability=ALL
ReadOnly=true
Tmpfs=/tmp
HealthCmd=pg_isready -U postgres
HealthInterval=10s
HealthRetries=5
HealthTimeout=5s
NoNewPrivileges=true
Secret=postgres_password
Secret=pgcat_password
Notify=healthy

[Service]
CPUQuota=400%
MemoryMax=1g
Restart=always

[Install]
WantedBy=default.target
