# postgresql.container
[Container]
Image=swordphilic/postgresql
PublishPort=$DB_PORT
Environment=DB_NAME=$DB_NAME
Environment=DB_PASS=$DB_PASS
Environment=DB_USER=$DB_USER
