# ferdium-server.container
[Container]
Image=ferdium/ferdium-server:latest
PublishPort=3333:3333
Volume=ferdium-database-vol:/data
Volume=ferdium-recipes-vol:/app/recipes
Environment=NODE_ENV=development
Environment=APP_URL=localhost
Environment=DB_CONNECTION=sqlite
Environment=DB_HOST=127.0.0.1
Environment=DB_PORT=3306
Environment=DB_USER=root
Environment=DB_PASSWORD=password
Environment=DB_DATABASE=ferdium
Environment=DB_SSL=false
Environment=MAIL_CONNECTION=smtp
Environment=SMTP_HOST=127.0.0.1
Environment=SMTP_PORT=2525
Environment=MAIL_SSL=false
Environment=MAIL_USERNAME=username
Environment=MAIL_PASSWORD=password
Environment=MAIL_SENDER=noreply@ferdium.org
Environment=IS_CREATION_ENABLED=true
Environment=IS_DASHBOARD_ENABLED=true
Environment=IS_REGISTRATION_ENABLED=true
Environment=CONNECT_WITH_FRANZ=false
Environment=DATA_DIR=/data
Environment=PUID=1000
Environment=PGID=1000
ContainerName=ferdium-server

[Service]
Restart=always
