### dokuwiki.container ###
[Container]
Image=lscr.io/linuxserver/dokuwiki:latest
PublishPort=8923:80
Volume=./config:/config
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Etc/UTC
ContainerName=dokuwiki

[Service]
Restart=always
