# dokuwiki.container
[Container]
ContainerName=dokuwiki
Environment=PUID=1000 PGID=1000 TZ=Etc/UTC
Image=lscr.io/linuxserver/dokuwiki:latest
PublishPort=8923:80
Volume=./config:/config

[Service]
Restart=always
