[Unit]
After=postgres-example-postgres.service
Requires=postgres-example-postgres.service

[Container]
Image=docker.io/edoburu/pgbouncer:v1.24.0-p0
Volume=pg_socket:/var/run/postgresql:z
Volume=pgbouncer_socket:/tmp/pgbouncer:Z
Volume=/var/home/ryan/Sync/journals/2026/03/10/quadlet-serde-tool/quadlet-serde/data/fixtures/postgres-example/config/pgbouncer/pgbouncer.ini:/etc/pgbouncer/pgbouncer.ini:Z,ro
Volume=/var/home/ryan/Sync/journals/2026/03/10/quadlet-serde-tool/quadlet-serde/data/fixtures/postgres-example/config/pgbouncer/entrypoint.sh:/entrypoint.sh:Z,ro
Network=app.network
User=postgres
Entrypoint=/entrypoint.sh
DropCapability=ALL
ReadOnly=true
Tmpfs=/tmp
HealthCmd=cat < /dev/tcp/127.0.0.1/6432
HealthInterval=10s
HealthRetries=5
HealthTimeout=5s
NoNewPrivileges=true
Secret=pgcat_password

[Service]
CPUQuota=200%
MemoryMax=256m
Restart=always

[Install]
WantedBy=default.target
