### linkding.container ###
[Container]
Image=sissbruecker/linkding:latest
PublishPort=${LD_HOST_PORT:-9090}:9090
Volume=${LD_HOST_DATA_DIR:-./data}:/etc/linkding/data
ContainerName=${LD_CONTAINER_NAME:-linkding}

[Service]
Restart=always
