[Unit]
After=postgres.service
Requires=postgres.service

[Container]
Image=docker.io/edoburu/pgbouncer:v1.24.0-p0
Pod=postgres-example.pod
Volume=pg_socket:/var/run/postgresql:z
Volume=pgbouncer_socket:/tmp/pgbouncer:Z
Volume=./config/pgbouncer/pgbouncer.ini:/etc/pgbouncer/pgbouncer.ini:Z,ro
Volume=./config/pgbouncer/entrypoint.sh:/entrypoint.sh:Z,ro
User=postgres
Entrypoint=/entrypoint.sh
DropCapability=ALL
ReadOnly=true
Tmpfs=/tmp
HealthCmd=cat < /dev/tcp/127.0.0.1/6432
HealthInterval=10s
HealthRetries=5
HealthTimeout=5s
NoNewPrivileges=true
Secret=pgcat_password
Notify=healthy

[Service]
CPUQuota=200%
MemoryMax=256m
Restart=always

[Install]
WantedBy=default.target
