### syncthing.container ###
[Container]
Image=syncthing/syncthing
Network=host
Volume=./data:/var/syncthing/config:z
Volume=/home/ryan/Sync:/var/syncthing/Sync
Volume=/home/ryan/Notes:/var/syncthing/Notes
Volume=/home/ryan/Agenda:/var/syncthing/Agenda
Volume=/home/ryan/Sync-Archive:/var/syncthing/Sync-Archive
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Etc/UTC
ContainerName=syncthing

[Service]
Restart=always
