### quartz.container ###
[Container]
PublishPort=3818:8080
Volume=$HOME/Notes/slipbox:/usr/src/app/content
ContainerName=quartz

[Service]
Restart=always
