### 111.pod ###
[Pod]
PodName=111
PublishPort=50070:50070
PublishPort=50075:50075
PublishPort=10000:10000
PublishPort=9083:9083

### namenode.container ###
[Container]
Image=bde2020/hadoop-namenode:2.0.0-hadoop2.7.4-java8
Pod=111.pod
Volume=namenode:/hadoop/dfs/name
Volume=$UPLOAD_FOLDER:/tmp/superset_uploads
Environment=CLUSTER_NAME=test
ContainerName=namenode

### datanode.container ###
[Container]
Image=bde2020/hadoop-datanode:2.0.0-hadoop2.7.4-java8
Pod=111.pod
Volume=datanode:/hadoop/dfs/data
Volume=$UPLOAD_FOLDER:/tmp/superset_uploads
Environment=SERVICE_PRECONDITION=namenode:50070

### hive-server.container ###
[Container]
Image=bde2020/hive:2.3.2-postgresql-metastore
Pod=111.pod
Volume=$UPLOAD_FOLDER:/tmp/superset_uploads
Environment=HIVE_CORE_CONF_javax_jdo_option_ConnectionURL=jdbc:postgresql://hive-metastore/metastore
Environment=SERVICE_PRECONDITION=hive-metastore:9083

### hive-metastore.container ###
[Container]
Image=bde2020/hive:2.3.2-postgresql-metastore
Pod=111.pod
Volume=$UPLOAD_FOLDER:/tmp/superset_uploads
Environment=SERVICE_PRECONDITION=namenode:50070 datanode:50075 hive-metastore-postgresql:5432

### hive-metastore-postgresql.container ###
[Container]
Image=bde2020/hive-metastore-postgresql:2.3.0
Pod=111.pod
