[Unit]
After=postgres-podman-example_prometheus.service
Requires=postgres-podman-example_prometheus.service

[Container]
Image=docker.io/grafana/grafana:11.5
PublishPort=127.0.0.1:3000:3000
Volume=postgres-podman-example_grafana_data.volume:/var/lib/grafana:Z
Network=postgres-podman-example_monitoring.network
DropCapability=ALL
ReadOnly=true
Tmpfs=/tmp
HealthCmd=wget -qO- http://127.0.0.1:3000/api/health
HealthInterval=15s
HealthRetries=3
HealthTimeout=5s
NoNewPrivileges=true
NetworkAlias=grafana
Label=io.podman.quadlet.project=postgres-podman-example
Label=io.podman.quadlet.service=grafana
AutoUpdate=registry

[Service]
CPUQuota=100%
MemoryMax=256m
Restart=always

[Install]
WantedBy=default.target
