[Unit]
After=postgres-podman-example_postgres.service
Requires=postgres-podman-example_postgres.service

[Container]
Image=docker.io/edoburu/pgbouncer:v1.24.0-p0
Volume=postgres-podman-example_pg_socket.volume:/var/run/postgresql:z
Volume=postgres-podman-example_pgbouncer_socket.volume:/tmp/pgbouncer:Z
Volume=./config/pgbouncer/pgbouncer.ini:/etc/pgbouncer/pgbouncer.ini:Z,ro
Volume=./config/pgbouncer/entrypoint.sh:/entrypoint.sh:Z,ro
Network=postgres-podman-example_app.network
User=postgres
Entrypoint=/entrypoint.sh
DropCapability=ALL
ReadOnly=true
Tmpfs=/tmp
HealthCmd=cat < /dev/tcp/127.0.0.1/6432
HealthInterval=10s
HealthRetries=5
HealthTimeout=5s
NoNewPrivileges=true
Secret=pgcat_password
NetworkAlias=pgbouncer
Label=io.podman.quadlet.project=postgres-podman-example
Label=io.podman.quadlet.service=pgbouncer
AutoUpdate=registry

[Service]
CPUQuota=200%
MemoryMax=256m
Restart=always

[Install]
WantedBy=default.target
