# server.container
[Container]
Image=yooooomi/your_spotify_server
PublishPort=47382:8080
Environment=API_ENDPOINT=http://localhost:47382
Environment=CLIENT_ENDPOINT=http://spotify.vale
Environment=SPOTIFY_PUBLIC=b9b8bc240c8143388344820ca78e9e14
Environment=SPOTIFY_SECRET=7edc7e7a020643dfba7a105101040d61

[Service]
Restart=always
